@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body {
    background: linear-gradient(45deg,#8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container h1 {
    color: #4647a3;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container strong {
    color: dodgerblue;
    font-size: 25px;
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p {
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    background: rgb(255, 255, 255);
    max-width: 850px;
    padding: 3rem;
    margin: 35px auto;
    border-radius: 8px; 
  
}

